* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  background-color: #f0db4f;
  color: #323330;
  font-size: 6em;
  text-align: center;
  padding: 0.6em;
}
h2 {
  background-color: #f0db4f;
  color: #323330;
  font-size: 2.5em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 2em;
}
